body {
    margin: 0;
    background-image: linear-gradient(#320e3b, #4c2a85, #6b7fd7, #bcedf6, #ddfbd2);
    height: 100vh;
}

h1 {
    font-style: italic;
    color: #ddfbd2;
}

p {
    font-style: italic;
}
